.currency-table {
    padding: 0.5em;
    margin: 0 auto;
    color: #fff;
    font-size: 0.85em;
}

.currency-table-row td {
    padding: 1em 0.5em;
}

.currency-table-row:nth-child(odd) {
    background-color: #252527;
}

.currency-table-row:nth-child(even) {
    background-color: #1b1b1c;
}

.currency-table-row td:last-child {
    text-align: right;
}

.currency-name {
    text-align: center;
    color: #fff;
    font-size: 1.25em;
    letter-spacing: 2px;
}

.error-message {
    width: 90%;
    text-align: center;
    color: #fff;
    margin: 2em auto;
}

@media only screen and (min-width: 700px) {
    .currency-profile {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1400px;
        min-height: 500px;
        margin: 2em auto 0;
        padding: 2em;
    }

    .current-history-container {
        width: 70%;
    }
}
