.currency-table {
    padding: 0.5em;
    margin: 0 auto;
    color: #fff;
    font-size: 0.85em;
}

.currency-table-row td {
    padding: 1em 0.5em;
}

.currency-table-row:nth-child(odd) {
    background-color: #252527;
}

.currency-table-row:nth-child(even) {
    background-color: #1b1b1c;
}

.currency-table-row td:last-child {
    text-align: right;
}

.loading-container {
    width: 100%;
    margin: 4em 0;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    color: #5580ab;
}

@media only screen and (min-width: 700px) {
    .currency-profile {
        display: flex;
        align-items: center;
        max-width: 1400px;
        margin: 2em auto 0;
    }

    .loading-container {
        width: 70%;
        font-size: 2em;
    }
}
