.currencyTable {
    padding: 0.5em;
    margin: 0 auto;
    color: #fff;
    font-size: 0.85em;
}

.currencyTableRow__data {
    padding: 1em 0.5em;
}

.currencyTableRow:nth-child(odd) {
    background-color: #252527;
}

.currencyTableRow:nth-child(even) {
    background-color: #1b1b1c;
}

.currencyTableRow__value {
    text-align: right;
}

.currencyName {
    text-align: center;
    color: #fff;
    font-size: 1.25em;
    letter-spacing: 2px;
}

.errorMessage {
    width: 90%;
    text-align: center;
    color: #fff;
    margin: 2em auto;
}

@media only screen and (min-width: 700px) {
    .currencyProfile {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1400px;
        min-height: 500px;
        margin: 2em auto 0;
        padding: 2em;
    }

    .currencyProfile__historyContainer {
        width: 70%;
    }
}
