.search {
    position: relative;
}

.searchResults {
    position: absolute;
    z-index: 10;
    background: #fff;
}

.searchResults__currency__coinLink,
.searchResults__currency:last-child {
    color: #395673;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;

    display: inline-block;
    width: 100%;
    margin: 0.25em 0;
}

.searchResults__currency--selected a {
    text-decoration: underline;
}

.searchResults__item:first-child,
.searchResults__item:last-child {
    font-weight: bold;
    font-size: 0.9em;
    background: #395673;
    color: #fff;
    margin: 0;
}

.searchResults__item:last-child {
    cursor: pointer;
}

.searchResults__currency__coinLink,
.searchResults__item:first-child,
.searchResults__item:last-child {
    padding: 1em 0.25em;
}
