.search {
    background: red;
    position: relative;
}

.search-results {
    position: absolute;
    z-index: 10;
    background: #fff;
}

.search-results li a,
.search-results li:last-child {
    color: #395673;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;

    display: inline-block;
    width: 100%;
    margin: 0.25em 0;
}

.selected .coin-link {
    text-decoration: underline;
}

.search-results li:first-child,
.search-results li:last-child {
    font-weight: bold;
    font-size: 0.9em;
    background: #395673;
    color: #fff;
    margin: 0;
}

.search-results li:last-child {
    cursor: pointer;
}

.search-results li a,
.search-results li:first-child,
.search-results li:last-child {
    padding: 1em 0.25em;
}
