.currenciesListContainer {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin: 1em 0;
}

.currenciesListContainer__currencyItem {
    padding: 0.75em 0.75em 1em 1em;
    background: #395673;

    margin: 0 1em;
    min-width: 250px;
    height: 150px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.currencyItem__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.currencyItemTag {
    width: 10%;
}

.currencyItemTag__logo {
    width: 100%;
}

.currencyItemTag__shortName {
    text-align: center;
    font-size: 0.25em;
    margin: 0;
}

.currencyItem__price {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.currencyItem__info {
    font-size: 0.75em;
}

.percentChanged--aboveZero {
    color: green;
}

.percentChanged--belowZero {
    color: red;
}

.currenciesListContainer__currencyItem--current {
    background: #6699cc;
}

.currently-viewed-currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0.75em auto;
}

.loadingContainer p {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin: 2em 0;
}

@media only screen and (min-width: 850px) {
    .content-container {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 2em 0;
    }

    .currently-viewed-currency-container {
        width: 75%;
    }

    .currenciesListContainer {
        flex-direction: column;
        width: 25%;
        max-height: 600px;
    }

    .currenciesListContainer__currencyItem {
        margin: 0;
        margin-bottom: 0.75em;
    }

    .currencyItem__price {
        font-size: 2em;
        margin-bottom: 0.25em;
    }
}
