.currencies-list-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin: 1em 0;
}

.currency-item-container {
    padding: 0.75em 0.75em 1em 1em;
    background: #395673;

    margin: 0 1em;
    min-width: 250px;
    height: 150px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.currency-item-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.currency-item-tag {
    width: 10%;
}

.currency-item-tag img {
    width: 100%;
}

.currency-item-tag p {
    text-align: center;
    font-size: 0.25em;
    margin: 0;
}

.currency-item-coin-price {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.currency-item-coin-info {
    /* display: flex;
    justify-content: space-between; */
    font-size: 0.75em;
}

.above-zero {
    color: green;
}

.below-zero {
    color: red;
}

.current {
    background: #6699cc;
}

.currently-viewed-currency-container {
    /* background: orange; */
}

.currently-viewed-currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0.75em auto;
}

.currently-viewed-currency img {
    width: 50%;
}

.currently-viewed-currency p {
    margin: 0.25em 0;
    color: #fff;
}

@media only screen and (min-width: 850px) {
    .content-container {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 2em 0;
    }

    .currently-viewed-currency-container {
        width: 75%;
    }

    .currencies-list-container {
        flex-direction: column;
        width: 25%;
        max-height: 600px;
    }

    .currency-item-container {
        margin: 0;
        margin-bottom: 0.75em;
    }

    .currency-item-coin-price {
        font-size: 2em;
        margin-bottom: 0.25em;
    }
}
